.b {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(243, 173, 116);
    padding: .5em;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}

aside {
    grid-area: side;
}

footer {
    grid-area: footer;
}

.wrapper {
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "head" 
        "nav" 
        "main" 
        "section1" 
        "section2" 
        "section3" 
        "section4" 
        "side" 
        "footer";
}